body {
    background: #efeee2;
    font-family: "Nunito", sans-serif;
}


.blurb h2 {
    color: darkgreen;
    font-weight: 100;
    font-size: 2rem;
}

.blurb p {
    color: darkgreen;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2.0;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.bottom {
    margin-bottom: 50px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
  }

#mainNavbar .navbar-brand {
  color: darkgreen;
  font-size: 1.5rem;
  font-weight: 100;
  }

#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color: #c3c3c3;
}

#welcome span {
    color: red;
}

#welcome h1 {
    font-weight: 100;
    font-size: 3.5rem;
}

#backToHome {
    color: darkgreen;
    padding: 20px;
}

/* Makes the navbar appear when scrolling: */
.navbar.scrolled {
    background: lightgray;
    transition: background 750ms;
}

/* Makes a change at a certain screen width: */
@media (max-width: 1200px) {
    #welcome h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }
}

